@tailwind base;
@tailwind components;
@tailwind utilities;

th,
td {
  padding: 10px;
  border: 2px solid rgba(55, 55, 55, 0.109);
}

th {
  background-color: rgba(255, 255, 255, 0.569);
}

table {
  border-radius: 20px;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
